[Unit]
Description=RTS API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/RTS-API
ExecStart=/usr/bin/node /var/www/RTS-API/index.js
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target