[Unit]
Description=RTX API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/RTX-API
ExecStart=/usr/bin/node /var/www/RTX-API/index.js
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target